<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590034108585-phrr06cpf5m88s1k0fp62vek9181rb4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590034108585-phrr06cpf5m88s1k0fp62vek9181rb4e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>590034108585-53h9673ker64fo2v2tr2f4cua0eo26pn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNNWGCv3SH2toiGkX-8DoAkDNH_Cw-UGs</string>
	<key>GCM_SENDER_ID</key>
	<string>590034108585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.selfLogin</string>
	<key>PROJECT_ID</key>
	<string>self-login-f9488</string>
	<key>STORAGE_BUCKET</key>
	<string>self-login-f9488.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590034108585:ios:90cb5f4cdc198fd22fa9b8</string>
</dict>
</plist>